body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff8f0;
  color: #333;
}

header {
  text-align: center;
  padding: 50px 20px;
  background-color: #4CAF50;
  color: white;

}
header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header p {
  margin-top: 10px;
  font-size: 1.1rem;
}

.contact-info {
  padding: 20px;
  text-align: center;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info li {
  margin: 10px 0;
  font-size: 1.2rem;
}

.contact-info a {
  color: #007BFF;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}
nav {
  margin-top: 20px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav a:hover {
  color: #fff;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

main {
  padding: 30px;
}

.project {
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.05);
  border-radius: 12px;
  text-align: center;
}

.project img {
  max-width: 100%;
  border-radius: 8px;
}

.project h2 {
  color: #fff;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
}

.project a:hover {
  background-color: #fff;
}
